#order-container {
  width: 50vw;
  padding: 3em 0em;
}

.order-container__order {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.cart-header__title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color-green);
}

table {
  width: 100%;
  border-spacing: 1em;
}

.order-table__table-header {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.8;
  padding: 1em 0em;
}

.order-table__table-header--center {
  text-align: center;
}

.order-total-price {
  margin: 0 auto;
  width: 86%;
  font-size: 1.1em;
  text-align: end;
}

.order-total-price__number {
  
  font-size: 1.2em;
  color: var(--text-color-green);
  font-weight: 700;
}

.order-checkout-button {
  background-color: var(--dark-green-color);
  color: var(--text-color-yellow);
  width: 80%;
  margin: 0 auto;
  padding: 1.2em 13em;
  cursor: pointer;
  font-weight: 600;
}
