#login-container {
  /* width: 100vw; */
  height: 100vh;
  overflow: hidden;
}

.login {
  width: 100%;
  display: flex;
}

.login-img-container {
  width: 50%;
  height: 100vh;
  position: relative;
}

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--dark-filter-yellow-color);
  opacity: 0.4;
}

.login-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login-form-container {
  width: 50%;
  display: flex;
}

.login-form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.login-form-title {
  font-size: 1.6rem;
}

.create-forget-action {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--text-color-green);
}

.login-error {
  color: var(--text-colro-red);
}
