.backdrop {
  width: 100%;
  background-color: var(--dark-backdrop-color);
  opacity: 42%;
  height: 100vh;
  position: fixed;
  z-index: 3;
}

.modal_content {
  /* width: 50%; */
  max-width: 80%;
  min-height: 100vh;
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
}
