#dashboard-container {
  width: 80%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
}

.dashboard {
  width: 80%;
  
  padding: 10em 0em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.dashboard-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dashboard-title {
  font-size: 1.4rem;
  color: var(--dark-green-color);
}

.dashboard-description-description {
  opacity: 0.7;
  margin: 1em 0em;
}

.dashboard-meals-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  justify-items: center;
}

@media (max-width: 960px) {
  .dashboard-meals-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
