.auth-input {
  border: 0.5px solid var(--dark-yellow-color);
  padding: 2em;
  border-radius: 5px;
  width: 100%;
}

input::placeholder {
  color: var(--text-light-dark-placeholder);
  opacity: 0.5;
}

.not-valid {
  border: 2px solid var(--text-colro-red);
}
