#navbar-container {
  position: absolute;
  width: 100%;
}

.navbar {
  width: 80%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 2em 0em;
  margin: 0 auto;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1.31rem;
}

.navbar-title {
  font-size: 2em;
}

.home-navbar {
  color: var(--text-color-yellow);
}

.signup-navbar {
  background-color: var(--dark-yellow-color);
  color: var(--text-color-green);
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 5px;
}
