.dashboard-meal {
  width: 13em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 3em 4em;
  border-radius: 5px;
}

.dashboard-meal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.dashboard-meal-img-container {
  width: 10em;
}

.dashboard-meal-img {
  width: 100%;
  height: 100%;
}

.dashboard-meal-description {
  text-align: center;
}

.dashboard-meal-action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-to-cart-input {
  width: 2.5em;
  height: 2em;
}

.add-to-cart-btn {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  color: var(--dark-bright-green-color);
  font-size: 0.8rem;
}

.dashboard-meal-action-price{
    color: var(--text-color-green);
    font-weight: 800;
}



