#cart-container {
  width: 30vw;
  height: 100vh;
}

.cart {
  width: 100%;
  height: 100%;
}

.cart {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.cart-img-container {
  width: 16em;
}

.cart-img {
  width: 100%;
  height: 100%;
}

.cart-header {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  text-align: center;
}

.cart-header .cart-header-title {
  font-size: 1.2rem;
  color: var(--text-color-green);
}

.cart-header .cart-header-description {
  font-size: 1rem;
  opacity: 0.69;
}

.cart-meal-status,
.cart-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--text-color-green);
  font-family: inherit;
}

.cart-meal-status {
  font-size: 1.3rem;
  font-weight: 600;
}

.action-button {
  padding: 0.3em 0.5em;
  border: 0px;
  font-size: 2rem;
  background-color: var(--dark-yellow-color);
  cursor: pointer;
}

.action-input {
  width: 1.6em;
  /* height: 1em; */
  font-size: 2rem;
  border: 0px;
  padding: 0em 0.1em;
  color: var(--text-color-green);
}

.cart-add-to-cart-btn {
  padding: 0em 1.6em;
  font-size: 1rem;
  background-color: var(--text-color-green);
  color: white;
  cursor: pointer;
}

.cart-add-to-cart-btn:disabled,
.cart-add-to-cart-btn:focus:disabled,
.cart-add-to-cart-btn:hover:disabled,
.cart-add-to-cart-btn:active:disabled {
  background-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
