.special-meals-item {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}

.meal-item-img-container {
  width: 100%;
}

.meal-item-img {
  max-width: 100%;
}

.meal-item-title {
  color: var(--text-color-yellow);
  font-size: 1.6em;
}

.meal-item-description {
  width: 80%;
  text-align: center;
}
